##---------------------------------------------------
## Directories
##---------------------------------------------------

# Where you build the src
/bin
/obj
/.vs

##---------------------------------------------------
## Visual Studio
##---------------------------------------------------

# User settings of solution
*.suo
decomposition_hacd_CLI/x64/
decomposition_hacd_CLI/.vs/
chrono-solidworks_install/
x64/
