##---------------------------------------------------
## Directories
##---------------------------------------------------

# Where you build the src
/bin
/obj

##---------------------------------------------------
## Visual Studio
##---------------------------------------------------

# User settings of solution
*.suo
decomp/hacd_CLI/x64/
decomp/hacd_CLI/hacd_CLI.vcproj.tasora-ASUS.tasora.user
